[class*=i0],.i100{background-image: url(data/pokemon-0.jpg);background-size: 1000px 1000px;}
.i001{background-position: -100px -0px;}
.i002{background-position: -700px -100px;}
.i003{background-position: -0px -100px;}
.i004{background-position: -100px -100px;}
.i005{background-position: -200px -0px;}
.i006{background-position: -200px -100px;}
.i007{background-position: -0px -200px;}
.i008{background-position: -100px -200px;}
.i009{background-position: -200px -200px;}
.i010{background-position: -300px -0px;}
.i011{background-position: -300px -100px;}
.i012{background-position: -300px -200px;}
.i013{background-position: -0px -300px;}
.i014{background-position: -100px -300px;}
.i015{background-position: -200px -300px;}
.i016{background-position: -300px -300px;}
.i017{background-position: -400px -0px;}
.i018{background-position: -400px -100px;}
.i019{background-position: -400px -200px;}
.i020{background-position: -400px -300px;}
.i021{background-position: -0px -400px;}
.i022{background-position: -100px -400px;}
.i023{background-position: -200px -400px;}
.i024{background-position: -300px -400px;}
.i025{background-position: -400px -400px;}
.i026{background-position: -500px -0px;}
.i027{background-position: -500px -100px;}
.i028{background-position: -500px -200px;}
.i029{background-position: -500px -300px;}
.i030{background-position: -500px -400px;}
.i031{background-position: -0px -500px;}
.i032{background-position: -100px -500px;}
.i033{background-position: -200px -500px;}
.i034{background-position: -300px -500px;}
.i035{background-position: -400px -500px;}
.i036{background-position: -500px -500px;}
.i037{background-position: -600px -0px;}
.i038{background-position: -600px -100px;}
.i039{background-position: -600px -200px;}
.i040{background-position: -600px -300px;}
.i041{background-position: -600px -400px;}
.i042{background-position: -600px -500px;}
.i043{background-position: -0px -600px;}
.i044{background-position: -100px -600px;}
.i045{background-position: -200px -600px;}
.i046{background-position: -300px -600px;}
.i047{background-position: -400px -600px;}
.i048{background-position: -500px -600px;}
.i049{background-position: -600px -600px;}
.i050{background-position: -700px -0px;}
.i051{background-position: -0px -0px;}
.i052{background-position: -700px -200px;}
.i053{background-position: -700px -300px;}
.i054{background-position: -700px -400px;}
.i055{background-position: -700px -500px;}
.i056{background-position: -700px -600px;}
.i057{background-position: -0px -700px;}
.i058{background-position: -100px -700px;}
.i059{background-position: -200px -700px;}
.i060{background-position: -300px -700px;}
.i061{background-position: -400px -700px;}
.i062{background-position: -500px -700px;}
.i063{background-position: -600px -700px;}
.i064{background-position: -700px -700px;}
.i065{background-position: -800px -0px;}
.i066{background-position: -800px -100px;}
.i067{background-position: -800px -200px;}
.i068{background-position: -800px -300px;}
.i069{background-position: -800px -400px;}
.i070{background-position: -800px -500px;}
.i071{background-position: -800px -600px;}
.i072{background-position: -800px -700px;}
.i073{background-position: -0px -800px;}
.i074{background-position: -100px -800px;}
.i075{background-position: -200px -800px;}
.i076{background-position: -300px -800px;}
.i077{background-position: -400px -800px;}
.i078{background-position: -500px -800px;}
.i079{background-position: -600px -800px;}
.i080{background-position: -700px -800px;}
.i081{background-position: -800px -800px;}
.i082{background-position: -900px -0px;}
.i083{background-position: -900px -100px;}
.i084{background-position: -900px -200px;}
.i085{background-position: -900px -300px;}
.i086{background-position: -900px -400px;}
.i087{background-position: -900px -500px;}
.i088{background-position: -900px -600px;}
.i089{background-position: -900px -700px;}
.i090{background-position: -900px -800px;}
.i091{background-position: -0px -900px;}
.i092{background-position: -100px -900px;}
.i093{background-position: -200px -900px;}
.i094{background-position: -300px -900px;}
.i095{background-position: -400px -900px;}
.i096{background-position: -500px -900px;}
.i097{background-position: -600px -900px;}
.i098{background-position: -700px -900px;}
.i099{background-position: -800px -900px;}
.i100{background-position: -900px -900px;}
[class*=i1],.i200{background-image: url(data/pokemon-1.jpg);background-size: 1000px 1000px;}
.i101{background-position: -100px -0px;}
.i102{background-position: -700px -100px;}
.i103{background-position: -0px -100px;}
.i104{background-position: -100px -100px;}
.i105{background-position: -200px -0px;}
.i106{background-position: -200px -100px;}
.i107{background-position: -0px -200px;}
.i108{background-position: -100px -200px;}
.i109{background-position: -200px -200px;}
.i110{background-position: -300px -0px;}
.i111{background-position: -300px -100px;}
.i112{background-position: -300px -200px;}
.i113{background-position: -0px -300px;}
.i114{background-position: -100px -300px;}
.i115{background-position: -200px -300px;}
.i116{background-position: -300px -300px;}
.i117{background-position: -400px -0px;}
.i118{background-position: -400px -100px;}
.i119{background-position: -400px -200px;}
.i120{background-position: -400px -300px;}
.i121{background-position: -0px -400px;}
.i122{background-position: -100px -400px;}
.i123{background-position: -200px -400px;}
.i124{background-position: -300px -400px;}
.i125{background-position: -400px -400px;}
.i126{background-position: -500px -0px;}
.i127{background-position: -500px -100px;}
.i128{background-position: -500px -200px;}
.i129{background-position: -500px -300px;}
.i130{background-position: -500px -400px;}
.i131{background-position: -0px -500px;}
.i132{background-position: -100px -500px;}
.i133{background-position: -200px -500px;}
.i134{background-position: -300px -500px;}
.i135{background-position: -400px -500px;}
.i136{background-position: -500px -500px;}
.i137{background-position: -600px -0px;}
.i138{background-position: -600px -100px;}
.i139{background-position: -600px -200px;}
.i140{background-position: -600px -300px;}
.i141{background-position: -600px -400px;}
.i142{background-position: -600px -500px;}
.i143{background-position: -0px -600px;}
.i144{background-position: -100px -600px;}
.i145{background-position: -200px -600px;}
.i146{background-position: -300px -600px;}
.i147{background-position: -400px -600px;}
.i148{background-position: -500px -600px;}
.i149{background-position: -600px -600px;}
.i150{background-position: -700px -0px;}
.i151{background-position: -0px -0px;}
.i152{background-position: -700px -200px;}
.i153{background-position: -700px -300px;}
.i154{background-position: -700px -400px;}
.i155{background-position: -700px -500px;}
.i156{background-position: -700px -600px;}
.i157{background-position: -0px -700px;}
.i158{background-position: -100px -700px;}
.i159{background-position: -200px -700px;}
.i160{background-position: -300px -700px;}
.i161{background-position: -400px -700px;}
.i162{background-position: -500px -700px;}
.i163{background-position: -600px -700px;}
.i164{background-position: -700px -700px;}
.i165{background-position: -800px -0px;}
.i166{background-position: -800px -100px;}
.i167{background-position: -800px -200px;}
.i168{background-position: -800px -300px;}
.i169{background-position: -800px -400px;}
.i170{background-position: -800px -500px;}
.i171{background-position: -800px -600px;}
.i172{background-position: -800px -700px;}
.i173{background-position: -0px -800px;}
.i174{background-position: -100px -800px;}
.i175{background-position: -200px -800px;}
.i176{background-position: -300px -800px;}
.i177{background-position: -400px -800px;}
.i178{background-position: -500px -800px;}
.i179{background-position: -600px -800px;}
.i180{background-position: -700px -800px;}
.i181{background-position: -800px -800px;}
.i182{background-position: -900px -0px;}
.i183{background-position: -900px -100px;}
.i184{background-position: -900px -200px;}
.i185{background-position: -900px -300px;}
.i186{background-position: -900px -400px;}
.i187{background-position: -900px -500px;}
.i188{background-position: -900px -600px;}
.i189{background-position: -900px -700px;}
.i190{background-position: -900px -800px;}
.i191{background-position: -0px -900px;}
.i192{background-position: -100px -900px;}
.i193{background-position: -200px -900px;}
.i194{background-position: -300px -900px;}
.i195{background-position: -400px -900px;}
.i196{background-position: -500px -900px;}
.i197{background-position: -600px -900px;}
.i198{background-position: -700px -900px;}
.i199{background-position: -800px -900px;}
.i200{background-position: -900px -900px;}
[class*=i2],.i300{background-image: url(data/pokemon-2.jpg);background-size: 1000px 1000px;}
.i201{background-position: -100px -0px;}
.i202{background-position: -700px -100px;}
.i203{background-position: -0px -100px;}
.i204{background-position: -100px -100px;}
.i205{background-position: -200px -0px;}
.i206{background-position: -200px -100px;}
.i207{background-position: -0px -200px;}
.i208{background-position: -100px -200px;}
.i209{background-position: -200px -200px;}
.i210{background-position: -300px -0px;}
.i211{background-position: -300px -100px;}
.i212{background-position: -300px -200px;}
.i213{background-position: -0px -300px;}
.i214{background-position: -100px -300px;}
.i215{background-position: -200px -300px;}
.i216{background-position: -300px -300px;}
.i217{background-position: -400px -0px;}
.i218{background-position: -400px -100px;}
.i219{background-position: -400px -200px;}
.i220{background-position: -400px -300px;}
.i221{background-position: -0px -400px;}
.i222{background-position: -100px -400px;}
.i223{background-position: -200px -400px;}
.i224{background-position: -300px -400px;}
.i225{background-position: -400px -400px;}
.i226{background-position: -500px -0px;}
.i227{background-position: -500px -100px;}
.i228{background-position: -500px -200px;}
.i229{background-position: -500px -300px;}
.i230{background-position: -500px -400px;}
.i231{background-position: -0px -500px;}
.i232{background-position: -100px -500px;}
.i233{background-position: -200px -500px;}
.i234{background-position: -300px -500px;}
.i235{background-position: -400px -500px;}
.i236{background-position: -500px -500px;}
.i237{background-position: -600px -0px;}
.i238{background-position: -600px -100px;}
.i239{background-position: -600px -200px;}
.i240{background-position: -600px -300px;}
.i241{background-position: -600px -400px;}
.i242{background-position: -600px -500px;}
.i243{background-position: -0px -600px;}
.i244{background-position: -100px -600px;}
.i245{background-position: -200px -600px;}
.i246{background-position: -300px -600px;}
.i247{background-position: -400px -600px;}
.i248{background-position: -500px -600px;}
.i249{background-position: -600px -600px;}
.i250{background-position: -700px -0px;}
.i251{background-position: -0px -0px;}
.i252{background-position: -700px -200px;}
.i253{background-position: -700px -300px;}
.i254{background-position: -700px -400px;}
.i255{background-position: -700px -500px;}
.i256{background-position: -700px -600px;}
.i257{background-position: -0px -700px;}
.i258{background-position: -100px -700px;}
.i259{background-position: -200px -700px;}
.i260{background-position: -300px -700px;}
.i261{background-position: -400px -700px;}
.i262{background-position: -500px -700px;}
.i263{background-position: -600px -700px;}
.i264{background-position: -700px -700px;}
.i265{background-position: -800px -0px;}
.i266{background-position: -800px -100px;}
.i267{background-position: -800px -200px;}
.i268{background-position: -800px -300px;}
.i269{background-position: -800px -400px;}
.i270{background-position: -800px -500px;}
.i271{background-position: -800px -600px;}
.i272{background-position: -800px -700px;}
.i273{background-position: -0px -800px;}
.i274{background-position: -100px -800px;}
.i275{background-position: -200px -800px;}
.i276{background-position: -300px -800px;}
.i277{background-position: -400px -800px;}
.i278{background-position: -500px -800px;}
.i279{background-position: -600px -800px;}
.i280{background-position: -700px -800px;}
.i281{background-position: -800px -800px;}
.i282{background-position: -900px -0px;}
.i283{background-position: -900px -100px;}
.i284{background-position: -900px -200px;}
.i285{background-position: -900px -300px;}
.i286{background-position: -900px -400px;}
.i287{background-position: -900px -500px;}
.i288{background-position: -900px -600px;}
.i289{background-position: -900px -700px;}
.i290{background-position: -900px -800px;}
.i291{background-position: -0px -900px;}
.i292{background-position: -100px -900px;}
.i293{background-position: -200px -900px;}
.i294{background-position: -300px -900px;}
.i295{background-position: -400px -900px;}
.i296{background-position: -500px -900px;}
.i297{background-position: -600px -900px;}
.i298{background-position: -700px -900px;}
.i299{background-position: -800px -900px;}
.i300{background-position: -900px -900px;}
[class*=i3],.i400{background-image: url(data/pokemon-3.jpg);background-size: 1000px 1000px;}
.i301{background-position: -100px -0px;}
.i302{background-position: -700px -100px;}
.i303{background-position: -0px -100px;}
.i304{background-position: -100px -100px;}
.i305{background-position: -200px -0px;}
.i306{background-position: -200px -100px;}
.i307{background-position: -0px -200px;}
.i308{background-position: -100px -200px;}
.i309{background-position: -200px -200px;}
.i310{background-position: -300px -0px;}
.i311{background-position: -300px -100px;}
.i312{background-position: -300px -200px;}
.i313{background-position: -0px -300px;}
.i314{background-position: -100px -300px;}
.i315{background-position: -200px -300px;}
.i316{background-position: -300px -300px;}
.i317{background-position: -400px -0px;}
.i318{background-position: -400px -100px;}
.i319{background-position: -400px -200px;}
.i320{background-position: -400px -300px;}
.i321{background-position: -0px -400px;}
.i322{background-position: -100px -400px;}
.i323{background-position: -200px -400px;}
.i324{background-position: -300px -400px;}
.i325{background-position: -400px -400px;}
.i326{background-position: -500px -0px;}
.i327{background-position: -500px -100px;}
.i328{background-position: -500px -200px;}
.i329{background-position: -500px -300px;}
.i330{background-position: -500px -400px;}
.i331{background-position: -0px -500px;}
.i332{background-position: -100px -500px;}
.i333{background-position: -200px -500px;}
.i334{background-position: -300px -500px;}
.i335{background-position: -400px -500px;}
.i336{background-position: -500px -500px;}
.i337{background-position: -600px -0px;}
.i338{background-position: -600px -100px;}
.i339{background-position: -600px -200px;}
.i340{background-position: -600px -300px;}
.i341{background-position: -600px -400px;}
.i342{background-position: -600px -500px;}
.i343{background-position: -0px -600px;}
.i344{background-position: -100px -600px;}
.i345{background-position: -200px -600px;}
.i346{background-position: -300px -600px;}
.i347{background-position: -400px -600px;}
.i348{background-position: -500px -600px;}
.i349{background-position: -600px -600px;}
.i350{background-position: -700px -0px;}
.i351{background-position: -0px -0px;}
.i352{background-position: -700px -200px;}
.i353{background-position: -700px -300px;}
.i354{background-position: -700px -400px;}
.i355{background-position: -700px -500px;}
.i356{background-position: -700px -600px;}
.i357{background-position: -0px -700px;}
.i358{background-position: -100px -700px;}
.i359{background-position: -200px -700px;}
.i360{background-position: -300px -700px;}
.i361{background-position: -400px -700px;}
.i362{background-position: -500px -700px;}
.i363{background-position: -600px -700px;}
.i364{background-position: -700px -700px;}
.i365{background-position: -800px -0px;}
.i366{background-position: -800px -100px;}
.i367{background-position: -800px -200px;}
.i368{background-position: -800px -300px;}
.i369{background-position: -800px -400px;}
.i370{background-position: -800px -500px;}
.i371{background-position: -800px -600px;}
.i372{background-position: -800px -700px;}
.i373{background-position: -0px -800px;}
.i374{background-position: -100px -800px;}
.i375{background-position: -200px -800px;}
.i376{background-position: -300px -800px;}
.i377{background-position: -400px -800px;}
.i378{background-position: -500px -800px;}
.i379{background-position: -600px -800px;}
.i380{background-position: -700px -800px;}
.i381{background-position: -800px -800px;}
.i382{background-position: -900px -0px;}
.i383{background-position: -900px -100px;}
.i384{background-position: -900px -200px;}
.i385{background-position: -900px -300px;}
.i386{background-position: -900px -400px;}
.i387{background-position: -900px -500px;}
.i388{background-position: -900px -600px;}
.i389{background-position: -900px -700px;}
.i390{background-position: -900px -800px;}
.i391{background-position: -0px -900px;}
.i392{background-position: -100px -900px;}
.i393{background-position: -200px -900px;}
.i394{background-position: -300px -900px;}
.i395{background-position: -400px -900px;}
.i396{background-position: -500px -900px;}
.i397{background-position: -600px -900px;}
.i398{background-position: -700px -900px;}
.i399{background-position: -800px -900px;}
.i400{background-position: -900px -900px;}
[class*=i4],.i500{background-image: url(data/pokemon-4.jpg);background-size: 1000px 1000px;}
.i401{background-position: -100px -0px;}
.i402{background-position: -700px -100px;}
.i403{background-position: -0px -100px;}
.i404{background-position: -100px -100px;}
.i405{background-position: -200px -0px;}
.i406{background-position: -200px -100px;}
.i407{background-position: -0px -200px;}
.i408{background-position: -100px -200px;}
.i409{background-position: -200px -200px;}
.i410{background-position: -300px -0px;}
.i411{background-position: -300px -100px;}
.i412{background-position: -300px -200px;}
.i413{background-position: -0px -300px;}
.i414{background-position: -100px -300px;}
.i415{background-position: -200px -300px;}
.i416{background-position: -300px -300px;}
.i417{background-position: -400px -0px;}
.i418{background-position: -400px -100px;}
.i419{background-position: -400px -200px;}
.i420{background-position: -400px -300px;}
.i421{background-position: -0px -400px;}
.i422{background-position: -100px -400px;}
.i423{background-position: -200px -400px;}
.i424{background-position: -300px -400px;}
.i425{background-position: -400px -400px;}
.i426{background-position: -500px -0px;}
.i427{background-position: -500px -100px;}
.i428{background-position: -500px -200px;}
.i429{background-position: -500px -300px;}
.i430{background-position: -500px -400px;}
.i431{background-position: -0px -500px;}
.i432{background-position: -100px -500px;}
.i433{background-position: -200px -500px;}
.i434{background-position: -300px -500px;}
.i435{background-position: -400px -500px;}
.i436{background-position: -500px -500px;}
.i437{background-position: -600px -0px;}
.i438{background-position: -600px -100px;}
.i439{background-position: -600px -200px;}
.i440{background-position: -600px -300px;}
.i441{background-position: -600px -400px;}
.i442{background-position: -600px -500px;}
.i443{background-position: -0px -600px;}
.i444{background-position: -100px -600px;}
.i445{background-position: -200px -600px;}
.i446{background-position: -300px -600px;}
.i447{background-position: -400px -600px;}
.i448{background-position: -500px -600px;}
.i449{background-position: -600px -600px;}
.i450{background-position: -700px -0px;}
.i451{background-position: -0px -0px;}
.i452{background-position: -700px -200px;}
.i453{background-position: -700px -300px;}
.i454{background-position: -700px -400px;}
.i455{background-position: -700px -500px;}
.i456{background-position: -700px -600px;}
.i457{background-position: -0px -700px;}
.i458{background-position: -100px -700px;}
.i459{background-position: -200px -700px;}
.i460{background-position: -300px -700px;}
.i461{background-position: -400px -700px;}
.i462{background-position: -500px -700px;}
.i463{background-position: -600px -700px;}
.i464{background-position: -700px -700px;}
.i465{background-position: -800px -0px;}
.i466{background-position: -800px -100px;}
.i467{background-position: -800px -200px;}
.i468{background-position: -800px -300px;}
.i469{background-position: -800px -400px;}
.i470{background-position: -800px -500px;}
.i471{background-position: -800px -600px;}
.i472{background-position: -800px -700px;}
.i473{background-position: -0px -800px;}
.i474{background-position: -100px -800px;}
.i475{background-position: -200px -800px;}
.i476{background-position: -300px -800px;}
.i477{background-position: -400px -800px;}
.i478{background-position: -500px -800px;}
.i479{background-position: -600px -800px;}
.i480{background-position: -700px -800px;}
.i481{background-position: -800px -800px;}
.i482{background-position: -900px -0px;}
.i483{background-position: -900px -100px;}
.i484{background-position: -900px -200px;}
.i485{background-position: -900px -300px;}
.i486{background-position: -900px -400px;}
.i487{background-position: -900px -500px;}
.i488{background-position: -900px -600px;}
.i489{background-position: -900px -700px;}
.i490{background-position: -900px -800px;}
.i491{background-position: -0px -900px;}
.i492{background-position: -100px -900px;}
.i493{background-position: -200px -900px;}
.i494{background-position: -300px -900px;}
.i495{background-position: -400px -900px;}
.i496{background-position: -500px -900px;}
.i497{background-position: -600px -900px;}
.i498{background-position: -700px -900px;}
.i499{background-position: -800px -900px;}
.i500{background-position: -900px -900px;}
[class*=i5],.i600{background-image: url(data/pokemon-5.jpg);background-size: 1000px 1000px;}
.i501{background-position: -100px -0px;}
.i502{background-position: -700px -100px;}
.i503{background-position: -0px -100px;}
.i504{background-position: -100px -100px;}
.i505{background-position: -200px -0px;}
.i506{background-position: -200px -100px;}
.i507{background-position: -0px -200px;}
.i508{background-position: -100px -200px;}
.i509{background-position: -200px -200px;}
.i510{background-position: -300px -0px;}
.i511{background-position: -300px -100px;}
.i512{background-position: -300px -200px;}
.i513{background-position: -0px -300px;}
.i514{background-position: -100px -300px;}
.i515{background-position: -200px -300px;}
.i516{background-position: -300px -300px;}
.i517{background-position: -400px -0px;}
.i518{background-position: -400px -100px;}
.i519{background-position: -400px -200px;}
.i520{background-position: -400px -300px;}
.i521{background-position: -0px -400px;}
.i522{background-position: -100px -400px;}
.i523{background-position: -200px -400px;}
.i524{background-position: -300px -400px;}
.i525{background-position: -400px -400px;}
.i526{background-position: -500px -0px;}
.i527{background-position: -500px -100px;}
.i528{background-position: -500px -200px;}
.i529{background-position: -500px -300px;}
.i530{background-position: -500px -400px;}
.i531{background-position: -0px -500px;}
.i532{background-position: -100px -500px;}
.i533{background-position: -200px -500px;}
.i534{background-position: -300px -500px;}
.i535{background-position: -400px -500px;}
.i536{background-position: -500px -500px;}
.i537{background-position: -600px -0px;}
.i538{background-position: -600px -100px;}
.i539{background-position: -600px -200px;}
.i540{background-position: -600px -300px;}
.i541{background-position: -600px -400px;}
.i542{background-position: -600px -500px;}
.i543{background-position: -0px -600px;}
.i544{background-position: -100px -600px;}
.i545{background-position: -200px -600px;}
.i546{background-position: -300px -600px;}
.i547{background-position: -400px -600px;}
.i548{background-position: -500px -600px;}
.i549{background-position: -600px -600px;}
.i550{background-position: -700px -0px;}
.i551{background-position: -0px -0px;}
.i552{background-position: -700px -200px;}
.i553{background-position: -700px -300px;}
.i554{background-position: -700px -400px;}
.i555{background-position: -700px -500px;}
.i556{background-position: -700px -600px;}
.i557{background-position: -0px -700px;}
.i558{background-position: -100px -700px;}
.i559{background-position: -200px -700px;}
.i560{background-position: -300px -700px;}
.i561{background-position: -400px -700px;}
.i562{background-position: -500px -700px;}
.i563{background-position: -600px -700px;}
.i564{background-position: -700px -700px;}
.i565{background-position: -800px -0px;}
.i566{background-position: -800px -100px;}
.i567{background-position: -800px -200px;}
.i568{background-position: -800px -300px;}
.i569{background-position: -800px -400px;}
.i570{background-position: -800px -500px;}
.i571{background-position: -800px -600px;}
.i572{background-position: -800px -700px;}
.i573{background-position: -0px -800px;}
.i574{background-position: -100px -800px;}
.i575{background-position: -200px -800px;}
.i576{background-position: -300px -800px;}
.i577{background-position: -400px -800px;}
.i578{background-position: -500px -800px;}
.i579{background-position: -600px -800px;}
.i580{background-position: -700px -800px;}
.i581{background-position: -800px -800px;}
.i582{background-position: -900px -0px;}
.i583{background-position: -900px -100px;}
.i584{background-position: -900px -200px;}
.i585{background-position: -900px -300px;}
.i586{background-position: -900px -400px;}
.i587{background-position: -900px -500px;}
.i588{background-position: -900px -600px;}
.i589{background-position: -900px -700px;}
.i590{background-position: -900px -800px;}
.i591{background-position: -0px -900px;}
.i592{background-position: -100px -900px;}
.i593{background-position: -200px -900px;}
.i594{background-position: -300px -900px;}
.i595{background-position: -400px -900px;}
.i596{background-position: -500px -900px;}
.i597{background-position: -600px -900px;}
.i598{background-position: -700px -900px;}
.i599{background-position: -800px -900px;}
.i600{background-position: -900px -900px;}
[class*=i6],.i700{background-image: url(data/pokemon-6.jpg);background-size: 1000px 1000px;}
.i601{background-position: -100px -0px;}
.i602{background-position: -700px -100px;}
.i603{background-position: -0px -100px;}
.i604{background-position: -100px -100px;}
.i605{background-position: -200px -0px;}
.i606{background-position: -200px -100px;}
.i607{background-position: -0px -200px;}
.i608{background-position: -100px -200px;}
.i609{background-position: -200px -200px;}
.i610{background-position: -300px -0px;}
.i611{background-position: -300px -100px;}
.i612{background-position: -300px -200px;}
.i613{background-position: -0px -300px;}
.i614{background-position: -100px -300px;}
.i615{background-position: -200px -300px;}
.i616{background-position: -300px -300px;}
.i617{background-position: -400px -0px;}
.i618{background-position: -400px -100px;}
.i619{background-position: -400px -200px;}
.i620{background-position: -400px -300px;}
.i621{background-position: -0px -400px;}
.i622{background-position: -100px -400px;}
.i623{background-position: -200px -400px;}
.i624{background-position: -300px -400px;}
.i625{background-position: -400px -400px;}
.i626{background-position: -500px -0px;}
.i627{background-position: -500px -100px;}
.i628{background-position: -500px -200px;}
.i629{background-position: -500px -300px;}
.i630{background-position: -500px -400px;}
.i631{background-position: -0px -500px;}
.i632{background-position: -100px -500px;}
.i633{background-position: -200px -500px;}
.i634{background-position: -300px -500px;}
.i635{background-position: -400px -500px;}
.i636{background-position: -500px -500px;}
.i637{background-position: -600px -0px;}
.i638{background-position: -600px -100px;}
.i639{background-position: -600px -200px;}
.i640{background-position: -600px -300px;}
.i641{background-position: -600px -400px;}
.i642{background-position: -600px -500px;}
.i643{background-position: -0px -600px;}
.i644{background-position: -100px -600px;}
.i645{background-position: -200px -600px;}
.i646{background-position: -300px -600px;}
.i647{background-position: -400px -600px;}
.i648{background-position: -500px -600px;}
.i649{background-position: -600px -600px;}
.i650{background-position: -700px -0px;}
.i651{background-position: -0px -0px;}
.i652{background-position: -700px -200px;}
.i653{background-position: -700px -300px;}
.i654{background-position: -700px -400px;}
.i655{background-position: -700px -500px;}
.i656{background-position: -700px -600px;}
.i657{background-position: -0px -700px;}
.i658{background-position: -100px -700px;}
.i659{background-position: -200px -700px;}
.i660{background-position: -300px -700px;}
.i661{background-position: -400px -700px;}
.i662{background-position: -500px -700px;}
.i663{background-position: -600px -700px;}
.i664{background-position: -700px -700px;}
.i665{background-position: -800px -0px;}
.i666{background-position: -800px -100px;}
.i667{background-position: -800px -200px;}
.i668{background-position: -800px -300px;}
.i669{background-position: -800px -400px;}
.i670{background-position: -800px -500px;}
.i671{background-position: -800px -600px;}
.i672{background-position: -800px -700px;}
.i673{background-position: -0px -800px;}
.i674{background-position: -100px -800px;}
.i675{background-position: -200px -800px;}
.i676{background-position: -300px -800px;}
.i677{background-position: -400px -800px;}
.i678{background-position: -500px -800px;}
.i679{background-position: -600px -800px;}
.i680{background-position: -700px -800px;}
.i681{background-position: -800px -800px;}
.i682{background-position: -900px -0px;}
.i683{background-position: -900px -100px;}
.i684{background-position: -900px -200px;}
.i685{background-position: -900px -300px;}
.i686{background-position: -900px -400px;}
.i687{background-position: -900px -500px;}
.i688{background-position: -900px -600px;}
.i689{background-position: -900px -700px;}
.i690{background-position: -900px -800px;}
.i691{background-position: -0px -900px;}
.i692{background-position: -100px -900px;}
.i693{background-position: -200px -900px;}
.i694{background-position: -300px -900px;}
.i695{background-position: -400px -900px;}
.i696{background-position: -500px -900px;}
.i697{background-position: -600px -900px;}
.i698{background-position: -700px -900px;}
.i699{background-position: -800px -900px;}
.i700{background-position: -900px -900px;}
[class*=i7],.i800{background-image: url(data/pokemon-7.jpg);background-size: 500px 400px;}
.i701{background-position: -100px -0px;}
.i702{background-position: -300px -100px;}
.i703{background-position: -0px -100px;}
.i704{background-position: -100px -100px;}
.i705{background-position: -200px -0px;}
.i706{background-position: -200px -100px;}
.i707{background-position: -0px -200px;}
.i708{background-position: -100px -200px;}
.i709{background-position: -200px -200px;}
.i710{background-position: -300px -0px;}
.i711{background-position: -0px -0px;}
.i712{background-position: -300px -200px;}
.i713{background-position: -0px -300px;}
.i714{background-position: -100px -300px;}
.i715{background-position: -200px -300px;}
.i716{background-position: -300px -300px;}
.i717{background-position: -400px -0px;}
.i718{background-position: -400px -100px;}
.i719{background-position: -400px -200px;}
.i720{background-position: -400px -300px;}